/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

.avatarFrameoffline {
    background: rgba(242, 246, 248, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(50%, rgba(216, 225, 231, 1)), color-stop(51%, rgba(181, 198, 208, 1)), color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
}

.avatarFrameonline {
    background: rgba(210, 255, 82, 1);
    background: -moz-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 54%, rgba(145, 232, 66, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(54%, rgba(145, 232, 66, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
    background: -webkit-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 54%, rgba(145, 232, 66, 1) 100%);
    background: -o-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 54%, rgba(145, 232, 66, 1) 100%);
    background: -ms-linear-gradient(left, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 54%, rgba(145, 232, 66, 1) 100%);
    background: linear-gradient(to right, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 54%, rgba(145, 232, 66, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.45);
    text-align: center;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid lime;
    display: inline-block;
}

.center {
    text-align: center !important;
}

.marto15 {
    margin-top: 15px;
}

.marbo15 {
    margin-bottom: 15px;
}

.generalContent {
    margin-top: 56px;
}

#homeAvatarPicture {
    max-width: 100px;
}

.disblo {
    display: block !important;
}

.marbo5 {
    margin-bottom: 5px;
}

.pato45 {
    padding-top: 45px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: rgba(183, 222, 237, 1);
    background: -moz-linear-gradient(left, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 20%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183, 222, 237, 1)), color-stop(20%, rgba(113, 206, 239, 1)), color-stop(51%, rgba(33, 180, 226, 1)), color-stop(100%, rgba(183, 222, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 20%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 20%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 20%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%);
    background: linear-gradient(to right, rgba(183, 222, 237, 1) 0%, rgba(113, 206, 239, 1) 20%, rgba(33, 180, 226, 1) 51%, rgba(183, 222, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid #8dd28d;
}

.shaker {
    animation: shake .5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(-1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}